    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body,
      .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
      }

      .wrapper {
        justify-content: space-around;
        align-items: center;
        
      }

      body {
        font-family: 'Bitter', serif;
      }

      .item {
        display: flex;        
        width: 100%;
        justify-content: space-around;
        
      }
      .item2 {
        display: flex;        
        width: 100%;
        justify-content: space-around;
        align-self: flex-end;
      }
      .block-in-item {
        width: 250px;
      }
      .text {
        line-height: 1.5;
        margin: 1rem 0;
      }
      .subtitle {
        font-size: 2.5rem;
        font-weight: 400;
      }
      .link {
        color: black;
      }      
      .header {
        display: flex;
        position: absolute;
        top: 50px;
        font-size: 40px;
        width: 100%;
        justify-content: center;        
      }
      .header-item {
        width: 550px;
        text-align: center;
      }
      
    