    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body,
      .wrapper {
        height: 100%;
        display: flex;
      }

      .wrapper {
        justify-content: space-between;
        align-items: center;
        
      }

      body {
        font-family: "Roboto", sans-serif;
      }

      .item {
        flex: 1;
        margin: 0 100px 0 100px;
        
      }
      .item2 {
        flex: 1;
        margin: 0 100px 0 100px;
        align-self: flex-end;
      }
      .block-in-item {
        width: 400px;
      }
      .text {
        line-height: 1.5;
        margin: 1rem 0;
      }
      .subtitle {
        font-size: 2.5rem;
        font-weight: 400;
      }
      .link {
        color: black;
      }      
      .header {
        display: flex;
        position: absolute;
        top: 0;
        font-size: 40px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
      }
      .header-item {
        width: 500px;
      }
    