* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1280px;
}

.wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% auto 25%;
  grid-template-areas:
    "header-left header-right header-right"
    "main-left main-right main-right"
    "footer-left footer-centr footer-right";
}

h1,
h2,
h3 {
  font-family: 'Rubik';
  font-weight: 800;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 50px;
}

.header-left {
  grid-area: header-left;
}

.header-right {
  grid-area: header-right;
}

.header-right {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.link {
  color: black;
  margin: 10px;
  text-decoration: none;
}

.main__button-start {
  background: rgb(87, 172, 152);
  margin: 10px;
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.main__button-start:hover {
  background: rgba(166, 28, 185, 0.53);
}

.button-start {
  display: none;
}

.main-left {
  grid-area: main-left;
  display: flex;
  align-items: center;
}

.main_left_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
}


.main-right {
  grid-area: main-right;  
}
.main-right {
  display: flex;
  align-items: center;
}

.main-hiper {
  display: flex;
  justify-content: left;
  gap: .5rem;
}

.main-hiper-link {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background: black;
  border-radius: 20px;
  width: 135px;
  max-height: 35px;
}


.apple__icon {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
}

.soc-net-link {
  display: flex;
}

.inst__icon {
  font-size: 2.5rem;
  color: black;
  margin: 5px;
}

.main_right_link {
  max-height: 35px;
  margin-left: 10px;
}

.main_left_link_text {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.footer {
  margin: 10px;
  border: 2px solid rgba(239, 239, 239, 1.945);
  border-radius: 20px;
}

.footer-left {
  grid-area: footer-left;
}

.footer-centr {
  grid-area: footer-centr;
}

.footer-right {
  grid-area: footer-right;
}

.footer-img {
  max-width: 35px;
}

.item-header-left {
  display: flex;
  height: 100%;  
  align-items: center;  
}
.header-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo {
  max-height: 50px;
}
.item-main {
  width: 100%;
}
.item-main img {
  width: 100%;
  object-fit: contain;
}

.item-footer {
  padding: 5%;
  margin-top: 0;
}

.mobile__soc-net-link {
  display: none;
}
.mobile-menu {
  display: none;
}
.mobile-sidebar {
  display: none;
}

@media(max-width: 768px) {

  body {
    max-width: 768px;
  }

  .wrapper {
    width: 100%;
    display: block;
  }

  .header-left {
    display: block;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
  }

  .item-header-left {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }

  .main-left,
  .main-right {
    margin: 10px;    
  }
  
  .button-start {
    display: block;
    background: rgb(87, 172, 152);
    margin-left: auto;
    padding: .8rem 1.5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  .button-start:hover {
    background: rgba(166, 28, 185, 0.53);
  }

  .header-right {
    display: none;

  }

  .item-header-right {
    display: none;
  }

  .link {
    color: black;
    margin: 0;
    text-decoration: none;
  }

  .main-left {
    display: block;
  }

  .main_left_content {
    display: block;
    width: 100%;
    margin: 10px;
  }  

  .mobile__soc-net-link {
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-left: 10px;
  }

  .mobile-hiper-link {
    display: flex;
    justify-content: stretch;
    align-items: center;
    background: black;
    border-radius: 20px;
    width: 7.5rem;
    max-height: 2.5rem;
  }

  .inst__icon {
    font-size: 2rem;
    color: black;
    margin: 0px;
  }

  .main-hiper,
  .soc-net-link {
    display: none;
  }
  .buttons_mobile {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .item__mobile-menu {
    font-size: 2rem;    
    color: black;    
  }
  .mobile-menu {
    display: block;
    background: white;
    margin: auto;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  :root {
    --sidebar-width: 180px;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 400px;
    width: var(--sidebar-width);
    background: rgb(134, 170, 224);
    transform: translateX(calc(var(--sidebar-width) * -1));
    transition: all 0.3s ease-out;
  }
  .menu--open {
    transform: none;
  }
  .mobile-sidebar {
    display: flex;
    flex-direction: column;
  }
  .link {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: 10px;
    text-decoration: none;
  }
}